@font-face {
    font-family: "montserrat-medium";
    src: url(/fonts/montserrat/Montserrat-Medium.otf);
}

@font-face {
    font-family: "montserrat-bold";
    src: url(/fonts/montserrat/Montserrat-Bold.otf);
}

body {
    --background-color: #f9fafb;
    --secondary-color: rgb(243, 241, 241);
    --accent-color: rgb(167, 167, 167);
    --error: rgb(248, 86, 86);
    display: flex;
    min-height: 100vh;
    width: 100%;
    margin: 0;
    font-family: "montserrat-medium";
}

.hero {
    padding: 40px 30% 40px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hero p {
    font-family: "montserrat-bold";
    font-size: 20px;
    line-break: strict;
}

.sidebar {
    display: flex;
}

.sidebar-img {
    flex: 1;
    height: 100vh;
}

.img-container {
    flex: 1;
    height: 100vh;
}

.logo-container {
    padding: 24px;
    background-color: rgb(29, 28, 28, .25);
    display: flex;
    justify-content: center;
    gap: 24px;
    align-items: center;
    position: relative;
    bottom: 75%;
}

.logo {
    width: 25%;
    position: relative;
    bottom: 75%;
}

.logo-text {
    font-size: 60px;
    color: white;
    position: relative;
}

.main-content {
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
}

h2 {
    margin: 0px 0px 64px 0px;
    font-size: 36px;
}

.form-container {
    background-color: var(--secondary-color);
    box-shadow: 0px 8px 6px -6px rgb(116, 109, 109);
    padding: 40px;
}

form {}

.form-row {
    margin-bottom: 40px;
    display: flex;
    gap: 10%;
}

.form-row input[type='text'],
input[type="tel"],
input[type="email"],
input[type="password"] {
    background-color: var(--background-color);
    border: 2px solid var(--accent-color);
    border-radius: 4px;
    width: 250px;
    padding: 7px;
    font-size: 14px;
}

.form-row label {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}

label {
    font-size: 16px;
    font-family: "montserrat-bold";
    text-transform: uppercase;
    gap: 10px;
}

.create-account-button {
    width: 25%;
    min-width: 10%;
    padding: 16px;
    margin-top: 48px;
    border-radius: 8px;
    border: none;
    background-color: #839290;
    color: white;
    font-size: 18px;
    font-family: "montserrat-bold";
}

.create-account-button:hover {
    cursor: pointer;
}

.returning-user {
    flex: 1;
}

.button-container {
    flex: 1;
    margin-left: 36px;
}

.error-message {
    color: var(--error);
    font-size: 12px;
}

input:focus:invalid {
    border-color: var(--error);
}

input:not(:focus):not(:placeholder-shown):invalid~.error-message {
}